@media only screen and (min-width:768px) and (max-width: 991px){
	/*For tablets */
	.user_menu{
		font-size: 15px;
	}
	.t_box1 h2{
		font-size: 20px !important;
	} 
	.t_box2 h2{    
		font-size: 20px !important;
	}  
	.box{

		margin-left: 20%;
		margin-right: 10%;
	}
	.box u h1{
		font-size: 20px;
	}
	.menu{
		font-size: 16px;
	}
	.our{
	font-size: 22px;
	padding-top: 20%;
	}
	#title{
	display: block;
	font-size: 22px;
	}
	.textbox{
	width: 80%;
	}
	.selectbox{
	width: 60%;
	}
	.footerbg{
		font-size: 16px;
	}

}
@media only screen and (min-width:0px) and (max-width: 767px){
	/*For mobile phone */
	
	.user_menu{
		font-size: 15px;
	}
	.t_box1 h2{
		font-size: 20px !important;
	}
	.t_box2 h2{
		font-size: 20px !important;
	}
	.box{
		margin-left: 10%;
		margin-right: 10%;
	}
	.box u h1{
		font-size: 20px;
	}
	#showmenu{
		display: none;
		position: absolute;
		z-index: 999;
		top: 26%;
	}
	.row h1{
	font-size: 30px;
	display: block;
	background: white;
	}

	.right_menu{
		margin-left: 3%;
	}
	.menu{
		font-size: 16px;
	}
	.our{
	font-size: 20px;
	padding-top: 20%;
	}
	#title{
	display: block;
	font-size: 20px;
	}
	.textbox{
	width: 100%;
	}
	.selectbox{
	width: 60%;
	}
	#tablediv{
		overflow: scroll;
	}
	.footerbg{
		font-size: 10px;
	}
	#view h5 a{
		font-size: 25px;
	}
	.our div{
		font-size: 16px;
	}
}