body{
	background:#F4F6F6;
}
.clear{
	clear: both;
}
.top{
	background: white;
}
.user_menu{   
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:18px;
	font-family: sans-serif; 
	color: black;
}
.user_menu1{
	letter-spacing: 2px;
	background:	#343957;
	padding-top: 10px;
	padding-bottom: 10px;
	color:white;
	box-shadow: 0px 0px 5px 5px white;
}
.box{
	padding-top: 0%;
	padding-bottom: 2%;
	margin-left: 30%;
	margin-top: 10%;
	background: white;
	border-radius: 10px;
	font-family: cursive;
	box-shadow: 20px 20px 10px 5px #ccc;
}
.box  h1{
	text-align: center;
	color: #2874A6
}
.t_box1{
	padding-top: 2%;
}
.t_box2{
	padding-top: 1%;
}
.form-control{
	font-size: 18px;
}
.login{
	font-size: 20px;
	outline: none;
	margin-top: 15%;
	font-weight: bold;
	word-spacing: 2px;
}
.show_btn{
	margin-top: 2%;
}
.hide_btn{
	margin-top: 2%;
	display: none;
}
.main{
	width: 100%;
}
.msg{
	color:green;
	text-align: center;
}
.left_menu{
	height:650px;
	background:	#0e0c28;
	font-family: verdana; 	 	
}
.left-menu-items
{
	text-transform: uppercase;
}
.left-menu-items i{
	padding-right: 5px;
}
.children{
	display: none;
}
.children li{
	margin-top: 13px;
}
.row h1{
	position: absolute;
	z-index: 999;
	font-size: 30px;
	left: 0%;
	display: none;
}
.row i{
	color: #7a80b4;
	font-size: 20px;
}
.row a{
	text-decoration: none;
	color:#7a80b4;
}
.row span {
	color: #7a80b4;
	cursor: pointer;
}
.row a:hover{
	color:white;	
}
.menu{
	color:#7a80b4;
	padding:5%; 
	background-color: transparent;
	outline:none !important;
	letter-spacing: 1px;
	font-size: 16px;
	transition: 1s;
}
.menuactive{
	color: black;
	background: #2E86C1;	
}
.menu:hover{
	color: white;
	background: rgba(0,0,0,0.3);
}
.textbox{
	width: 40%;
}
.our{
	font-size: 30px;
	padding-top: 10%;
	text-shadow: 0px 0px 10px  white;
}
.our div{ 
	height: 100px;
	color:black;
	margin-bottom: 10%;
	border-bottom: 2px black solid;
	border-left: 2px black solid;
	border-right: 2px black solid;

}
#title{
	display: block;
	font-size: 40px;
	margin-top: 2%;
}
#title2{
	display: block;
	font-size: 30px;
	margin-top: 2%;
}
#insert_form{
	padding: 5%;
	padding-top: 2%;
	background:white;
	box-shadow: 0px 10px 10px 5px #7a80b4;
}
#insert_form label{
	color:grey;
}
.selectbox{
	width: 20%;
}
#view1 h5{
	margin-top: 05%;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
#view2 h5{
	margin-top: 02%;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
.footerbg{
	padding-bottom:5px;
	background: white;
	text-align: center;
	font-size: 20px;
}
#details i{
	color:black;
}
#tablediv{
	margin-top: 2%; 
}
.right_menu{
	height:650px;
	overflow-y: scroll;
}
.right_menu::-webkit-scrollbar{
	display: none;
}
